{{#if (containsKey this.id row.dates)}}
    <div class="cell {{#if (compare (lookup row.dates this.id) "===" 2)}}yes{{else}}maybe{{/if}}" data-value="{{lookup row.dates this.id}}" data-columnIndex="{{maths @index "+" 1}}" data-rowIndex="{{maths @../index "+" 1}}">
        {{#if (compare (lookup row.dates this.id) "===" 1)}}<span>(</span><span class="material-icons-outlined">done</span><span>)</span>{{else}}<span class="material-icons-outlined">done</span>{{/if}}
    </div>
{{else}}
    <div class="cell no" data-value="0" data-columnIndex="{{maths @index "+" 1}}" data-rowIndex="{{maths @../index "+" 1}}">
        <span class="material-icons-outlined">close</span>
    </div>
{{/if}}